In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matpotlib.pyplot as plt

ModuleNotFoundError: No module named 'matpotlib'

In [4]:
import matplotlib.pyplot as plt

In [5]:
omport sklearn.metrics as sm

SyntaxError: invalid syntax (<ipython-input-5-2075eef0ca46>, line 1)

In [6]:
import sklearn.metrics as sm

In [7]:
%matplotlib inline

In [8]:
diabetes_dataset =pd.read_csv('diabetes.csv')

In [9]:
diabetes_dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0
...,...,...,...,...,...,...,...,...,...
1995,2,75,64,24,55,29.7,0.370,33,0
1996,8,179,72,42,130,32.7,0.719,36,1
1997,6,85,78,0,0,31.2,0.382,42,0
1998,0,129,110,46,130,67.1,0.319,26,1
1999,2,81,72,15,76,30.1,0.547,25,0

In [1]:
diabetes_dataset.describe

NameError: name 'diabetes_dataset' is not defined

In [2]:
diabetes_dataset.describe()

NameError: name 'diabetes_dataset' is not defined

In [3]:
diabetes_dataset =pd.read_csv('diabetes.csv')

NameError: name 'pd' is not defined

In [4]:
diabetes_dataset =pd.read_csv('diabetes.csv')

NameError: name 'pd' is not defined